* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}
.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #fff;
  height: 400px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
}
.menu ul {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu ul li{
  width: 70px;
  height: 70px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.menu ul li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.menu ul li a .icon {
  /* position: absolute; */
  transition: .5s;
  color: #333;
  text-align: center;
  font-size: 1.5em;

}
.menu ul li.ativo a .icon {
  transform: translateX(55px);
}
.menu ul li a .texto{
  position: absolute;
  font-weight: bold;
  transition: .5s;
  transform: translateX(-30px);
  opacity: 0;
  color: #333;
}
.menu ul li.ativo a .texto{
  transform: translateX(-10px);
  opacity: 1;
}
.menu .conteudo {
  position: absolute;
  top: -2px;
  right: -40px;
  width: 70px;
  height: 70px;
  background-color: #45f02f;
  border-radius: 50%;
  border: 6px solid #333;
  transition: .5s;
}
.menu .conteudo::before {
  content: '';
  width: 10px;
  height: 15px;
  background: transparent;
  position: absolute;
  top: -18px;
  left: 14px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 0 0 #333;
  animation: none;
}
.menu .conteudo::after {
  content: '';
  width: 10px;
  height: 15px;
  background: transparent;
  position: absolute;
  bottom: -18px;
  left: 14px;
  border-top-right-radius: 50px;
  box-shadow: 5px 0 0 #333;
  animation: none;
}

.menu ul li:nth-child(1).ativo ~ .conteudo {
  transform: translateY(calc(70px * 0));
}
.menu ul li:nth-child(2).ativo ~ .conteudo {
  transform: translateY(calc(70px * 1));
}
.menu ul li:nth-child(3).ativo ~ .conteudo {
  transform: translateY(calc(70px * 2));
}
.menu ul li:nth-child(4).ativo ~ .conteudo {
  transform: translateY(calc(70px * 3));
}


